body { 
  font: 1em Helvetica, sans-serif;
  font-weight: 300;
  color: #444;
  background-color: #2C3316;
  background:url(../img/bajer.jpg) top center no-repeat;
  background-size:cover;
  }

h1 {
  font-size: 3.5em;
  font-weight: 300;
  }

h2 {
  font-size: 1.5em;
  font-weight: 300;
  }

.container { 
  width: 80%; margin: 40px auto;
  padding: 20px 20px;
  background-color: rgba(255,255,255,0.9); 
  }

form { 
  margin-top: 50px; 
  }

form div { 
  margin: 0 0 30px 0; 
  }

.placeholder { 
  color: #C0C0C0;
  }

label {
  font-size: 1.2em;
  font-weight: 300;
  color: #565F34;
}

.result {
  margin-top: 1em;
  display: inline-block;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: #C0C0C0;
    width: 80%;
    height:2px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none; 
    -moz-apperance:none; 
    width:25px; 
    height:25px;
    -webkit-border-radius:20px; 
    -moz-border-radius:20px; 
    -ms-border-radius:20px; 
    -o-border-radius:20px; 
    border-radius:20px;
    background-color: #1AAAE4;
    border: 1px solid #F5F2F2;
}

@media (max-width: 800px) {
  input[type=range] {
      width: 100%;
  }
  h1 {
    font-size: 2.5em;
    }

  h2 {
    font-size: 1em;
    }


  }

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
    }

  }